* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Alkatra', cursive;
  }

  .header {
    background-color: #918d8f;
    margin-top: 0px;
    margin-bottom: 90px;
    padding-top: 70px;
  }
  .footer {
    position: fixed;
    padding: 20px 10px 0px 10px;
    bottom: 0;
    width: 100%;
    height: 90px;
    background-color: #918d8f;
  }
  .main {
    text-align: center;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  
  .title {
   font-size: 42px;
  }
  
  
  .image {
    height: 100px;
    width: 100px;
    font-size: 25px;
    background: blue;
    margin: 10px;
    display: inline-block;
    line-height: 100px; 
  }
  
  .image-container {
    vertical-align: middle;
    display: inline-block;
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    width: 50%;
  }
  
  .prev, .next {
    padding-top: 10px;
    padding-bottom: 10px;
    height: 100%;
    cursor: pointer;
    color: black;
    transition: 0.6s ease;
  }
  
  .next {
    margin-left: 5px;
  }
  
  .prev {
    margin-right: 5px;
  }
  
  .prev:hover, .next:hover {
    color: white;
    height: 100%;
    background-color: rgba(0,0,0,0.8);
  }
  .nature {
    background-color: #e0ffcd
  }
  .sports {
    background-color: #c7b198;
  }
  .displayBox {
    display: flex;    
  }